- title = data.title
- className = data.className
- absSelector = data.absSelector
- toggle = className ? "class" : undefined

+e("span").link.promo-block__link(data-toggle=toggle, data-class-name=className, data-abs-selector=absSelector) 
    +e("span").show-label
        span= title
    +e("span").hide-label.promo-label
        if hideLabel
            span= hideLabel
        else
            span Скрыть