//---
    layout: layouts/main
    title: Инсайт Медикал 
    activeMenuItem: 1
    finder: doctors
    find_text: клиник
    modals: select-area, select-specialization, clinic-location-map
    page_name: doctor_consultation

.row  
    section.col-md-9 
        //- +b.card.offset-bottom-0.inner: +i({ card: clinics[0], landing: true, clinic_inner: true, clinicInnerFilials: affilatesIsida})
        +b.card.offset-bottom-0.inner: +i({ card: clinics[0], landing: true, clinic_inner: true, clinicInnerFilials: affilatesIsida})
            article.hreview-aggregate.vcard.hcard
                +e.left-side
                    +e.image(class=card.gender) 
                        if landing
                            a(href=card.filename, title=card.name)
                                img.photo(src=card.photo.main, alt="")
                    +b.rating.value-size_big(class=ratingColorBlack): +i({ value: card.averageRating })
                    +e.testimonials(class=testimonialsClass)
                        a(href="#{card.filename}#tab-reviews", title="#{card.testimonialsCount} отзывов")
                            span.count= card.testimonialsCount
                            |  отзывов
                        +e("a").info(href="/modals.html#rating-clinic")
                    +e.schedule(class=additionalClass)
                        ul
                            each item in card.schedule
                                li
                                    span.left= item.day
                                    span.right= item.time
                +e.right-side
                    +e.title.fn.org
                        h3.h3
                            - var pageLink = card.filename
                            if onlineConsultation
                                - pageLink = '/doctors/consultation.html'
                            a(href=pageLink, title=card.name)= card.name
                    +e.label-description.card__label-descroption-mod
                        span #{card.labelDescription}&nbsp;
                        if clinic || clinic_inner
                            a(href="#" data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                    +b("ul").benefits(class=benefitsClasses)
                        each benefit in card.benefits
                            +e.item
                                +e("img").icon(src="#{benefit.image}", alt="")
                                +e("span").title
                                    != benefit.title
                    hr.dashed
                    .address-info
                        +e.address.adr
                            a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=card.adress)= card.address
                        +e.location.card__location_metro(class=card.metroType)
                            = card.metro.join(", ")
                        +e.location= card.location.join(", ")
                    hr.dashed
                    p= card.about_general
                +e.bottom
                    +b.photo-gallery._mod._owlbox.hidden-xs: +i({ items: photoGallerySample })
                    div.card__soc
                        +e.socitem
                            a.twitter-share-button(href='https://twitter.com/share', data-via='VladiGoal') Tweet
                            script.
                                !function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                    if (!d.getElementById(id)) {
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = p + '://platform.twitter.com/widgets.js';
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                }(document, 'script', 'twitter-wjs');
                        +e.socitem
                            .fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
                        +e.socitem._last
                            div(class="g-plusone" data-size="medium" data-annotation="inline" data-width="55")

                        +e.bottom-links-mod
                            +e.bottom-link
                                a(href="#") Акции клиники (17)
                                a(href="#") Пакеты услуг (2)            
                            a.btn.btn-success.pull-right(href="#doctor-request" data-toggle="modal" title="") Записаться на прием
            section
                h6
                    span Филиалы клиники
                ul.filial-list
                    +b.small-card
                        article
                            +e.left-side.hidden-xs
                                +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })

                                +e.testimonials(class=testimonialsClass)
                                    a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                        span.count= item.testimonialsCount
                                        |  отзывов
                            +e.right-side
                                +b.favorites-block.pull-right: +i
                                +e.title.fn.org
                                    h3.h3
                                        a(href=pageLink, title=item.name)= item.name
                                .right-side-rating.visible-xs
                                    +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })
                                    +e.testimonials(class=testimonialsClass)
                                        a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                            span.count= item.testimonialsCount
                                            |  отзывов
                                    
                                +e.label-description
                                    span #{item.labelDescription}&nbsp;
                                    a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                +b("ul").benefits(class=benefitsClasses)
                                    each benefit in card.benefits
                                        +e.item
                                            +e("img").icon(src="#{benefit.image}", alt="")
                                            +e("span").title
                                                != benefit.title
                                .address-info
                                    if item.address && !clinicWorld
                                        +e.address.adr
                                            a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=item.adress)= item.address
                                    if item.metro && !clinicWorld
                                        +e.location.card__location_metro(class=item.metroType)
                                            = item.metro.join(", ")
                                    if !onlineConsultation && !doctorWorld && !clinicWorld
                                        +e.location= item.location.join(", ")
                                +e.footer
                                    +e.schedule.small-card__schedule-mod
                                        ul
                                            each item1 in item.schedule
                                                li
                                                    span.left #{item1.day}:
                                                    span.right= item1.time
                                    +e.action
                                        span.orange Акция
                                        a(href="#{item.url}#tab-actions", title=item.actions[0].title)= item.actions[0].title
                                    a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
                    +b.small-card
                        article
                            +e.left-side.hidden-xs
                                +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })

                                +e.testimonials(class=testimonialsClass)
                                    a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                        span.count= item.testimonialsCount
                                        |  отзывов
                            +e.right-side
                                +b.favorites-block.pull-right: +i
                                +e.title.fn.org
                                    h3.h3
                                        a(href=pageLink, title=item.name)= item.name
                                .right-side-rating.visible-xs
                                    +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })
                                    +e.testimonials(class=testimonialsClass)
                                        a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                            span.count= item.testimonialsCount
                                            |  отзывов
                                    
                                +e.label-description
                                    span #{item.labelDescription}&nbsp;
                                    a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                +b("ul").benefits(class=benefitsClasses)
                                    each benefit in card.benefits
                                        +e.item
                                            +e("img").icon(src="#{benefit.image}", alt="")
                                            +e("span").title
                                                != benefit.title
                                .address-info
                                    if item.address && !clinicWorld
                                        +e.address.adr
                                            a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=item.adress)= item.address
                                    if item.metro && !clinicWorld
                                        +e.location.card__location_metro(class=item.metroType)
                                            = item.metro.join(", ")
                                    if !onlineConsultation && !doctorWorld && !clinicWorld
                                        +e.location= item.location.join(", ")
                                +e.footer
                                    +e.schedule.small-card__schedule-mod
                                        ul
                                            each item1 in item.schedule
                                                li
                                                    span.left #{item1.day}:
                                                    span.right= item1.time
                                    +e.action
                                        span.orange Акция
                                        a(href="#{item.url}#tab-actions", title=item.actions[0].title)= item.actions[0].title
                                    a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
                    +b.small-card
                        article
                            +e.left-side.hidden-xs
                                +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })

                                +e.testimonials(class=testimonialsClass)
                                    a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                        span.count= item.testimonialsCount
                                        |  отзывов
                            +e.right-side
                                +b.favorites-block.pull-right: +i
                                +e.title.fn.org
                                    h3.h3
                                        a(href=pageLink, title=item.name)= item.name
                                .right-side-rating.visible-xs
                                    +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })
                                    +e.testimonials(class=testimonialsClass)
                                        a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                            span.count= item.testimonialsCount
                                            |  отзывов
                                    
                                +e.label-description
                                    span #{item.labelDescription}&nbsp;
                                    a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                +b("ul").benefits(class=benefitsClasses)
                                    each benefit in card.benefits
                                        +e.item
                                            +e("img").icon(src="#{benefit.image}", alt="")
                                            +e("span").title
                                                != benefit.title
                                .address-info
                                    if item.address && !clinicWorld
                                        +e.address.adr
                                            a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=item.adress)= item.address
                                    if item.metro && !clinicWorld
                                        +e.location.card__location_metro(class=item.metroType)
                                            = item.metro.join(", ")
                                    if !onlineConsultation && !doctorWorld && !clinicWorld
                                        +e.location= item.location.join(", ")
                                +e.footer
                                    +e.schedule.small-card__schedule-mod
                                        ul
                                            each item1 in item.schedule
                                                li 
                                                    span.left #{item1.day}:
                                                    span.right= item1.time 
                                    +e.action
                                        span.orange Акция
                                        a(href="#{item.url}#tab-actions", title=item.actions[0].title)= item.actions[0].title
                                    a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
        ul.nav.nav-tabs.nav-clinic 
            li.active: a(href="#tab-about", data-toggle="tab") О клинике
            li
                a(href="#tab-doctors", data-toggle="tab") Врачи
            li
                a(href="#tab-price", data-toggle="tab") Цены
            li
                a(href="#tab-reviews", data-toggle="tab") Отзывы
            li
                a(href="#tab-actions", data-toggle="tab") Акции и пакеты услуг (4)
            li
                a(href="#tab-news", data-toggle="tab") Новости
        .tab-content.tab-content__mod
            #tab-about.tab-pane.clinic-tab.active
                +b.rating-block
                    +e.separator
                    .row
                        .col-sm-6
                            .row
                                .col-xs-5.col-xs-offset-1
                                    +b.statistics-item._simple
                                        +e.label Средний балл
                                        +e.value 5.0
                                .col-xs-5
                                    +b.statistics-item._simple
                                        +e.label Кол-во отзывов
                                        +e.value 152
                            +b.rating-info
                                +e("span").icon
                                +e.text Рейтинг врача рассчитывается<br>на основе&nbsp;
                                    +e("a").more-link(href="/", title="реальных отзывов пациентов"): span реальных отзывов пациентов
                        .col-sm-6
                            +b("ul").rating-list
                                each rating in clinics[0].ratings
                                    +b.rating: +i({label: rating.label, value: rating.value, tooltip: rating.tooltip})
                            +b.likebox: +i({
                                likes: doctors[0].likes,
                                dislikes: doctors[0].dislikes,
                                label: "Рекомендуют клинику"
                            })  
                .text
                    each about in clinics[0].about
                        if about.paragraphs
                            each paragraph in about.paragraphs
                                p= paragraph
                        else
                            p
                                strong= about.title
                                ul
                                    each item in about.items
                                        li= item
            #tab-doctors.tab-pane
                form.form-horizontal(action="/")
                    .form-group.form-group-filter.control-main
                        label.control-label(for="speciality"): span Специальность:
                        .control-select
                            select#speciality.form-control(type="text")
                                option(value="1") Акушер-гинеколог
                                option(value="2") Аллерголог
                                option(value="3") Андролог
                                option(value="4") Анестезиолог 
                +b("ul").doctors-list.small-card-list_clear-top.offset-bottom20
                    -limit = 2
                    each doctor, i in doctors
                        if i < limit
                            +b.small-card: +i({ item: doctor, tab_doctors: true})
                .pagination-wrapper.pagination__modifie
                    +b("ul").pagination: +i
                    +b("a").load-items-mod(href="#")
                        span Показать еще 10 врачей
            #tab-price.tab-pane
                +b.price-about Приведенный ниже прайс-лист является неполным, и представлен для общего ознакомления с ценами клиники. Точную стоимость необходимых услуг Вам озвучит оператор нашего колл-центра при подтверждении записи.
                +b.about-in
                    +e("span").price-update Прайс обновлен  14.01.2016
                +b("ul").block-services.block-services__mod
                    +e("li").item
                        +e.title
                                strong 
                                    | Анестезиология
                        
                            +e("ul").list.clinic-list__mod
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Палата интенсивной терапии 
                                            span (1 сутки)

                                        +e.right
                                            span  4000 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Консультация предоперационная
                                        +e.right
                                            span  250 грн
                                             
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Палата интенсивной терапии 
                                            span (1 час)
                                        +e.right
                                            span  230 грн
                    +e("li").item
                        +e.title
                                strong 
                                    | Гастроэнтерология
                        
                            +e("ul").list.clinic-list__mod
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Палата интенсивной терапии 
                                            span (1 сутки)

                                        +e.right
                                            span  4000 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Консультация предоперационная
                                        +e.right
                                            span  250 грн
                                             
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Палата интенсивной терапии 
                                            span (1 час)
                                        +e.right
                                            span  230 грн
                    +e("li").item
                        +e.title
                                strong 
                                    | Анестезиология
                        
                            +e("ul").list.clinic-list__mod
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Палата интенсивной терапии 
                                            span (1 сутки)

                                        +e.right
                                            span  4000 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Консультация ЛОРа
                                        +e.right
                                            span  250 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Консультация предоперационная
                                        +e.right
                                            span  250 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Промывание внешних слуховых ходов
                                        +e.right
                                            span  250 грн
                                +e("li").row
                                    +e.row-in.row-item__mod
                                        +e.left Вскрытие абсцесса носовой перегородки
                                        +e.right
                                            span  250 грн
                                             
                                +e("li").row
                                    +e.row-in.clinic-last-child
                                        +e.left Палата интенсивной терапии 
                                            span (1 час)
                                        +e.right
                                            span  230 грн


            #tab-reviews.tab-pane
                +b.rating-block
                    +e.separator
                    .row
                        .col-sm-7
                            .row
                                .col-xs-5.col-xs-offset-1
                                    +b.statistics-item._simple
                                        +e.label Средний балл
                                        +e.value 5.0
                                .col-xs-5
                                    +b.statistics-item._simple
                                        +e.label Кол-во отзывов
                                        +e.value 152
                            +b.rating-info
                                +e("span").icon
                                +e.text Рейтинг врача рассчитывается<br>на основе&nbsp;
                                    +e("a").more-link(href="/", title="реальных отзывов пациентов"): span реальных отзывов пациентов
                        .col-sm-5
                            +b("ul").rating-list
                                each rating in clinics[0].ratings
                                    +b.rating: +i({label: rating.label, value: rating.value, tooltip: rating.tooltip})
                            +b.likebox: +i({
                                likes: doctors[0].likes,
                                dislikes: doctors[0].dislikes,
                                label: "Рекомендуют клинику"
                            })
                    h4 Как мы собираем отзывы?
                    p Все отзывы достоверны и получены в результате опроса пациентов, побывавших на приеме у врача
                    +b("ul").rating-steps: +i
                if file.status != 'inactive'
                    +b("ul").reviews-list: +i({items: clinics[0].testimonials})
                else
                    .text-center.middle 
                        strong
                            a(href="/", title="Будьте первыми") Будьте первыми!

                .pagination-wrap.pagination__modifie
                    +b("ul").pagination: +i
                .reviews-denied
                    strong Почему Вы не можете оставить отзыв?
                    br
                    | Отзывы на сайте могут оставлять только пациенты, побывавшие на приеме у врача. Это исключает публикацию заказных и неправдивых отзывов. Мы собираем отзывы путем обзвона реальных пациентов, которые посетили врача, записавшись через наш сервис.

            #tab-actions.tab-pane
                header.header-styled
                    h2.h1 Акции клиники
                .offers-list
                    .row
                        - var limit = 3
                        each action, i in actionsData
                            if i < limit
                                .col-sm-4.col-xs-6
                                    +b("article").post: +i(action)

                header.header-styled
                    h2.h1 Пакетные предложения
                .offers-list
                    .row
                        - var limit = 3
                        each action, i in actionsData
                            if i < limit
                                .col-sm-4.col-xs-6
                                    +b("article").post: +i(action)
            #tab-news.tab-pane  
                +b("ul").articles-list.news-list
                    - var limit = 3
                    each article, i in articlesData
                        if i < limit
                            +b.article-list-item: +i({ article: article, news: true})
                .pagination-wrap.pagination__modifie
                    +b("ul").pagination: +i

    aside.col-md-3.hidden-sm.hidden-xs 
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        .widget.widget-clinic
            h3 Похожие клиники
            - var items = []
            - var limit = 4
            each clinic, i in clinics
                if i < limit
                    - items.push({ gender: clinic.gender, image: clinic.photo.main, title: clinic.name, url: '/' , label: clinic.label, location: clinic.location, rating: clinic.averageRating })
            +b.short-list: +i({
                items: items,
                clinic: true
            })
            .link.link-more 
                a(href="/doctors.html") Все клиники 