//---
    layout: layouts/main
    title: Венерологические клиники в Киеве
    activeMenuItem: 1
    finder: clinics
    modals: select-area, select-branch, clinic-location-map, clinic-request
    page_name: clinics
    find_text: клиник


.row          
    section.col-md-9       
        +b.doctors-region  
            h3 Клиники пульмонологии в других районах (6) 
            +e("ul").list 
                +e("li").item 
                    +e("a").link(href="#").is-red Осокорки
                +e("li").item
                    +e("a").link(href="#").is-blue Липки 
                +e("li").item 
                    +e("a").link(href="#").is-green Лукьяновка     
                +e("li").item
                    +e("a").link(href="#").is-blue Позняки
                +e("li").item.is-last 
                    +e("a").link(href="#").is-green Шулявка  
                +e("li").item.is-last
                    +e("a").link(href="#").is-green Оболонь  

        +b("ul").card-list.promo-container     
            each clinic in clinics
                if clinic.hasFilials
                    - classes = "card_clinic has-hidden-small-cards" 

                - var uid = "uid-130146"
                if clinic.address  
                    +b.card.card-underline.item-promo(class=classes, data-uid=uid, data-id= 'c' + clinic.id): +i({ card: clinic, landing: true, clinic: true, moreLink: true, clinicFilials: affilatesIsida, uid: uid })
                else 
                    +b.card.card-underline.item-promo(class=classes, data-uid=uid, data-id= 'c' + clinic.id): +i({ card: clinic, landing: true, clinic: true, clinicFilials: affilatesIsida, uid: uid }) 
            +b.small-card.small-card_mod.item-promo
                .item-promo__block 
                    a(href="#").item-promo__title промо 
                    .item-promo__hidden Ресторан размещен  вверху списка на правах рекламы 
            
                +e.left-side.hidden-xs 
                    +e.image(class=card.gender).small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })

                    +e.testimonials(class=testimonialsClass)
                        a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                            span.count= item.testimonialsCount
                            |  отзывов
                +e.right-side 
                    +b.favorites-block.pull-right: +i
                    +e.title.fn.org
                        h3.h3
                            a(href=pageLink, title=item.name)= item.name
                    .right-side-rating.visible-xs
                        +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })
                        +e.testimonials(class=testimonialsClass)
                            a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                span.count= item.testimonialsCount
                                |  отзывов
                    +e.label-description.small-card__description-mod
                        span #{item.labelDescription}&nbsp;
                        a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                    .address-info.small-card__address-mod
                        if item.address && !clinicWorld
                            +e.address.adr
                                a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=item.adress)= item.address
                        if item.metro && !clinicWorld
                            +e.location.card__location_metro(class=item.metroType)
                                = item.metro.join(", ")
                        if !onlineConsultation && !doctorWorld && !clinicWorld
                            +e.location= item.location.join(", ")
                    +e.footer
                        if file.page_name != clinics
                            +e.schedule
                                ul
                                    each item1 in item.schedule
                                        li
                                            span.left #{item1.day}:
                                            span.right= item1.time
                        a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
            +b.small-card.small-card_mod
                +e.left-side.hidden-xs
                    +e.image(class=card.gender).small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })

                    +e.testimonials(class=testimonialsClass)
                        a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                            span.count= item.testimonialsCount
                            |  отзывов
                +e.right-side
                    +b.favorites-block.pull-right: +i
                    +e.title.fn.org
                        h3.h3
                            a(href=pageLink, title=item.name)= item.name
                    .right-side-rating.visible-xs
                        +b.rating(class=ratingColorBlack): +i({ value: card.averageRating })
                        +e.testimonials(class=testimonialsClass)
                            a(href="#{item.filename}#tab-reviews", title="#{item.testimonialsCount} отзывов")
                                span.count= item.testimonialsCount
                                |  отзывов
                    +e.label-description.small-card__description-mod
                        span #{item.labelDescription}&nbsp;
                        a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                    .address-info.small-card__address-mod
                        if item.address && !clinicWorld
                            +e.address.adr
                                a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title=item.adress)= item.address
                        if item.metro && !clinicWorld
                            +e.location.card__location_metro(class=item.metroType)
                                = item.metro.join(", ")
                        if !onlineConsultation && !doctorWorld && !clinicWorld
                            +e.location= item.location.join(", ")
                    +e.footer
                        if file.page_name != clinics
                            +e.schedule
                                ul
                                    each item1 in item.schedule
                                        li
                                            span.left #{item1.day}:
                                            span.right= item1.time
                        a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
                    
        +b("a").load-items(href="#"): +i

        +b("ul").pagination: +i 
    aside.col-md-3.hidden-sm.hidden-xs 
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        //- .widget.widget-doctor
        //-     h3 Похожие врачи
        //-     - var items = []
        //-     - var limit = 4
        //-     each doctor, i in doctors
        //-         if i < limit
        //-             - items.push({ gender: doctor.gender, image: doctor.photo.main, title: doctor.name, url: '/' , label: doctor.label, location: doctor.location, rating: doctor.averageRating })
        //-     +b.short-list: +i({ items: items })
        //-     .link.link-more
        //-            a(href="/doctors.html") Все врачи
