- var linkPrefix = ''
- var modalToggle = ''

if showModals
    - linkPrefix = '#'
    - modalToggle = 'modal'
else
    - linkPrefix = '/modals.html#'
    - modalToggle = ''


+e.title Звоните нам
p Пн.-вс: с 9:00 до 21:00
if footerMobile
    +e("span").phone-number +38 (067) 209-78-987
else
    +e.phone
        span= site.phoneLandline
        span= site.phoneMts
        span= site.phoneLife
        span= site.phoneKyivstar


.hidden-xs
    +e('span').callback
        a.dotted(href="#callback", data-toggle="modal", title="Обратный звонок") Обратный звонок
    +e('span').callback
        a.dotted(href="#doc-request-schedule", data-toggle="modal", title="Отправить заявку") Отправить заявку
    +b.social-links: +i
    +e.footer
        +e.copyright
            | &copy;&nbsp;
            a(href="http://#{site.title}", title=site.title)= site.title
            | , 2015
        +e.rights Использование материалов разрешено только при наличии активной ссылки на источник