block params
  - var isCabinet = false

//- include ../../../node_modules/bemto.jade/bemto

doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="user-scalable=no, width=device-width", name="viewport")
    title
      if file.title
        | #{file.title} | DOC.ua
      else
        | DOC.ua 
    link(href="/i/favicon.ico", rel="shortcut icon")
    link(href='https://fonts.googleapis.com/css?family=Roboto:700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/doc.min.css")
    script(type="text/javascript", src="//yandex.st/share/share.js", charset="utf-8")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true", charset="utf-8")
    //if lt IE 9
      script(src="/ie-js/html5.js")
      script(src="/ie-js/respond.min.js")
      script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
    script(src='https://apis.google.com/js/platform.js', async='', defer='')

body
    #fb-root
    script.
      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=224008797710815";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    nav.navbar.navbar-main.navbar-fixed-top
      .container
        button.navbar-toggle.collapsed.visible-xs
          span.icon-bar
          span.icon-bar
          span.icon-bar
  
        +b.logo: +i({ mobileLogo: true })

        +b.navbar-header
          +e("span").loc-icon.hidden-xs
          +b.location: +i

        +b.phones.hidden-xs: +i
        //- +b.mobile-phones.visible-xs
        //-   span (095) 3370707;
        //-   span (063) 3370707;
        //-   span (067) 3370707;
        //-   span (044) 3370707
        hr.header__line
        .phones.phones_mobile.visible-xs 
          span (044) 337-07-07
        +b("a").favorites-link(href="/", title="Избранное")
          span 14
        .user-panel.hidden-xs
          +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
          //- if file.isCabinet
          //-   +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
          //- else
          //-   +b.user-panel-auth: +i
        +b.feedback
          +e("a").link._callback(href="#{linkPrefix}callback", data-toggle=modalToggle, title="Обратный звонок")
              span.dotted Обратный звонок
          +e("a").link._feedback.mobile-none(href="#{linkPrefix}doc-request-schedule", data-toggle=modalToggle, title="Оставить заявку")
              span.dotted Оставить заявку
              

    +b.navbar-collapse(class="navbar-mobile collapse"): +i


    //- Logo and search
    .container-fluid.container-header.hidden-xs
      .row.row-white
        .container
          h1.sr-only Поиск вашего врача – DOC.ua
          if file.finder
            - var headerClass = "header_with-finder"
          header.header.main-page-header(class=headerClass)
            .wrap
              .row
                .col-md-4.col-sm-3
                  +b.logo: +i

                .navbar-main.navbar-main_inner
                  .container
                    +b.navbar-header
                      +e("span").loc-icon.hidden-xs
                      +b.location: +i
                    +b.phones.hidden-xs: +i
                    +b("a").favorites-link(href="/", title="Избранное")
                      span 14
                    .user-panel.hidden-xs
                      +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
                      //- if file.isCabinet
                      //-   +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
                      //- else
                      //-   +b.user-panel-auth: +i
    //- Menu
    .container-fluid.container-menu.hidden-xs
      .row.row-white.row_border
        .container
          nav.header__nav
            +b.menu: +i({ prefix: "main", items: mainMenu, activeIndex: file.activeMenuItem })
            .header__nav-right
              +b.feedback.main-page_feedback
                +e("a").link._feedback.mobile-none(href="#{linkPrefix}doc-request-schedule", data-toggle=modalToggle, title="Оставить заявку") Оставить заявку

              +b.search.js-search: +i

    if file.indexPage
      .parallax-wrap.hidden-xs

    //- Finder
    if file.finder
    .container-fluid.container-finder 
      if file.indexPage || file.main
        .row.row-finder.row-finder_main
          .container-bg
          .container
            .wrap
              +b.finder-title.hidden-xs: +i({ page: file.finder })
              +b.finder.finder_main-page.search-title_none: +i({ page: file.finder })
            .row.row-counters.hidden-xs
              .col-sm-4
                +b.counter: +i({ value: 841, title: "записей за сутки"})
              .col-sm-4
                +b.counter: +i({ value: 2712, title: "врачей на сайте"})
              .col-sm-4
                +b.counter: +i({value: 23117, title: "отзывов пациентов"})

      else if !file.indexPage || !file.main
        .row.row-finder.finder_inner-pages
          .container
            if file.finder || file.chooser
              .wrap
                +b.finder: +i({ page: file.finder })


      //- Chooser container
      if file.indexPage || file.main
        .row.row-white
          .container.container_main-chooser
            if file.chooser
              +b.chooser: +i({ page: file.chooser, specializations: specializations })

    //- Promo banners
    if file.indexPage
      .container-fluid 
        .row
          .container.promo-banners
            +b.promo-banner.row: +i([{ image: 'promo-banner-1.jpg', title: "Онкоскрининг - полная диагностика всего тела"}, { image: 'promo-banner-2.jpg', title: "Добробут теперь на DOC.ua"}])
    //- Main container
    .container-fluid
      .row
        .container.main-content
          //- Breadcrumbs/Controls row
          if !file.indexPage 
            .row
              .col-md-9
                if file.page_name != 'search' && file.page_name != 'search_no_rezult'
                  +b.breadcrumbs: +i({ breadcrumbs: [{ title: file.title, url: '#' }] })
              if file.page_name == 'clinics' || file.page_name == 'doctors' || file.page_name == 'promo' || file.page_name == 'bundles'
                .col-md-9
                  .row
                    if file.page_name == 'doctors'
                      .col-sm-7
                        h1= file.title
                    else
                      .col-md-12
                        h1= file.title
                    if file.page_name == 'doctors'
                      .col-sm-5
                          +b("a").info-link.under-dot(href="#" title="" data-toggle="class" data-class-name="info-link__details_active" data-abs-selector=".info-link__details")
                              span Чем занимается Дерматолог?
                      .col-sm-12
                          .info-link__details
                              .catalog-quote
                                strong Дерматолог
                                | – врач узкого профиля, который занимается проведением диагностики и дальнейшей терапии заболеваний кожного покрова, ногтевых пластин и волос, являющихся результатом бактериальных, вирусных, паразитарных и иммунных поражений организма.
              if file.page_name == 'doctors' || file.page_name == 'clinics'
                .col-md-9
                  .catalog-controls
                      .catalog-controls__column
                        .catalog-controls__results| Найдено <strong>220 #{file.find_text}</strong>,
                        | отсортированы
                        select.select7
                          option(value="rate_desc", selected) по рейтингу
                          option(value="rate_az") по названию (А-Я)
                          option(value="rate_za") по названию (Я-А)
                      .catalog-controls__right-side
                        if file.page_name == 'clinics'
                          +b.catalog-checkboxes: +i({items: ["Работает в воскресенье", "Работает в субботу"]})
                        if file.page_name == 'doctors'
                          +b.catalog-checkboxes: +i({items: ["С выездом на дом", "Детский врач"]})
              if file.page_name == 'doctors'
                .col-md-12
                  .doctors-alert
                    strong К сожалению, в выбранном Вами районе "с. Софиевская Борщаговка" врачи-фтизиатры не найдены. Найдите своего фтизиатра в ближайшем районе
              if file.page_name == 'clinics'
                .col-md-12
                  .doctors-alert
                    strong К сожалению, в выбранном Вами районе "с. Софиевская Борщаговка" клиник по направлению пульмонология не найдено. Найдите клинику пульмонологии в ближайших районах
          //- Content
          block content
      
    //- Diagnostics
    if file.indexPage || file.main
      .container-fluid  
        .row
          .container
            if file.diagnosticsRecord
              +b.diagnostics-record: +i

    //- Advantages
    if file.indexPage
      .container-fluid.container-advantages.hidden-xs
        .row.row-white.row_advantages
          +b.advantages.container: +i
 
      
      //- Blog
      if file.page_name != 'articles' && file.page_name != 'articles-inner' && file.page_name != 'doctors' && file.page_name != 'diagnostic-center' && file.page_name != 'diagnostic-center_bez' && file.page_name != 'action' && file.page_name != 'search'  && file.page_name != 'search_no_rezult'
        .container-fluid
          .row.row-articles
            .container.blog-xs
              section
                +b.blog-block: +i
                
    //- Footer
    .container-fluid.container-fluid_footer-bg
      //- SEO
      .flex_container
        .row.about-this
          .container
            +b.about-this-site._seo: +i

        .row.footer
          .container
            footer
              .footer-inner
                .wrap
                  .row
                    +b.menu
                      +b.footer-menu: +i
                    +b.contacts: +i({ site: site, socialLinks: true, workingTime: true })
                    .footer-bottom
                        +b.partners.hidden-xs: +i
                        .footer-info
                          .footer-copyright
                              | &copy;&nbsp;
                              a(href="http://#{site.title}", title=site.title)= site.title
                              | , 2016&nbsp;
                          .footer-rights Использование материалов разрешено только при наличии активной ссылки на источник                                   
                        +b.social-links: +i

   
 

      +b("a").go-top(href="", title="Наверх"): +i

    block modals

    script(src="/doc.min.js")
    script(src="/jquery.mockjax.js")
    script(src="/demo.js")