block params
    - var isCabinet = false 
//- include ../../../node_modules/bemto.jade/bemto
doctype html 
html
    head  
        meta(charset="UTF-8")
        meta(content="user-scalable=no, width=device-width", name="viewport")
        title
            if file.title
                | #{file.title} | DOC.ua
            else
                | DOC.ua
        link(href="/i/favicon.ico", rel="shortcut icon")
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="/doc.min.css")
        script(type="text/javascript", src="//yandex.st/share/share.js", charset="utf-8")
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true", charset="utf-8")
        //if lt IE 9
          script(src="/ie-js/html5.js")
          script(src="/ie-js/respond.min.js")
          script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
        script(src='https://apis.google.com/js/platform.js', async='', defer='')
body
    #fb-root
    script.
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=224008797710815";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    //- Navbar
    nav.navbar.navbar-main.navbar-fixed-top
      .container
        button.navbar-toggle.collapsed.visible-xs
          span.icon-bar
          span.icon-bar
          span.icon-bar

        +b.logo: +i({ mobileLogo: true })

        +b.navbar-header
          +b.location: +i

        +b.phones.js-phones.hidden-xs: +i
        //- +b.mobile-phones.visible-xs
        //-   span (095) 3370707;
        //-   span (063) 3370707;
        //-   span (067) 3370707;
        //-   span (044) 3370707
        hr.header__line
        +b.phones.phones_mobile.js-phones.visible-xs: +i
        +b("a").favorites-link(href="/", title="Избранное")
          span 14
        .user-panel.hidden-xs
          +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
          //- if file.isCabinet
          //-   +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
          //- else
          //-   +b.user-panel-auth: +i
        +b.feedback
          +e("a").link._callback(href="#{linkPrefix}callback", data-toggle=modalToggle, title="Обратный звонок")
              span.dotted Обратный звонок
          +e("a").link._feedback.mobile-none(href="#{linkPrefix}doc-request-schedule", data-toggle=modalToggle, title="Оставить заявку")
              span.dotted Оставить заявку
              

    +b.navbar-collapse(class="navbar-mobile collapse"): +i

    //- Logo and search
    .container-fluid.container-header.hidden-xs
      .row.row-white
        .container
          h1.sr-only Поиск вашего врача – DOC.ua
          if file.finder
            - var headerClass = "header_with-finder"
          header.header.main-page-header(class=headerClass)
            .wrap
              .row
                +b.logo: +i

                .navbar-main.navbar-main_inner
                  .container
                    +b.navbar-header
                      +e("span").loc-icon.hidden-xs
                      +b.location: +i
                    +b.phones.js-phones.hidden-xs: +i
                    +b("a").favorites-link(href="/", title="Избранное")
                      span 14
                    .user-panel.hidden-xs
                      +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
                      //- if file.isCabinet
                      //-   +b.user-panel-menu: +i({ loggedUserPopup: loggedUserPopup })
                      //- else
                      //-   +b.user-panel-auth: +i

    //- Menu
    .container-fluid.container-menu.hidden-xs
      .row.row-white.row_border
        .container
          nav.header__nav
            +b.menu: +i({ prefix: "main", items: mainMenu, activeIndex: file.activeMenuItem })
            .header__nav-right
              +b.feedback.main-page_feedback
                +e("a").link._feedback.mobile-none(href="#{linkPrefix}doc-request-schedule", data-toggle=modalToggle, title="Оставить заявку") Оставить заявку

              +b.search.js-search: +i
    
    //- pages texture
    .page-bg
    //- if file.indexPage
    //-   .prarallax-wrap.hidden-xs

    //- Finder
    if file.finder
    .container-fluid.container-finder

        .row.row-finder.finder_inner-pages
          .container
            if file.finder || file.chooser
              .wrap
                +b.finder: +i({ page: file.finder })


      //- Chooser container
      if file.indexPage || file.main
        .row.row-white
          .container.container_main-chooser
            if file.chooser
              +b.chooser: +i({ page: file.chooser, specializations: specializations })
    //- Promo banners
    .container-fluid
        .row
            .container.main-content
               .row 
                 .col-md-9
                    +b.breadcrumbs: +i({ breadcrumbs: [{ title: file.title, url: '#' }] })
               .row
                 if file.page_name == 'rules'
                    h1.col-sm-12.col-xs-12= file.title
                 block content
            if file.page_name != 'disease' || file.page_name != 'med-library' || file.page_name != 'med-library-article'
                .container-fluid_main
                   .container-fluid.container_find.hidden-xs
                    .row
                      .container  
                        header.header-styled.header-styled__darkColor
                          .row.offset-bottom-0
                            .col-sm-12
                              h2.h1 Также вы можете на нашем сайте найти
                        .find
                          .find-item
                            a(href="#").find-item__block
                              i.find-item__icon.is-doc
                              span.find-item__title Врачи
                          .find-item
                            a(href="#").find-item__block
                              i.find-item__icon.is-clinic
                              span.find-item__title Клиники
                          .find-item
                            a(href="#").find-item__block
                              i.find-item__icon.is-centers
                              span.find-item__title Диагностические центры
                          .find-item
                            a(href="#").find-item__block
                              i.find-item__icon.is-diseases
                              span.find-item__title Заболевания
                          .find-item
                            a(href="#").find-item__block
                              i.find-item__icon.is-promotions
                              span.find-item__title Акции

    //- Footer
    .container-fluid.container-fluid_nopadding
      //- SEO
      .flex_container
        .row.about-this
          .container
            +b.about-this-site._seo: +i

        .row.footer
          .container
            footer
              .footer-inner
                .wrap
                  .row
                    +b.menu
                      +b.footer-menu: +i
                    +b.contacts: +i({ site: site, socialLinks: true, workingTime: true })
                    .footer-bottom
                        +b.partners.hidden-xs: +i
                        .footer-info
                          .footer-copyright
                              | &copy;&nbsp;
                              a(href="http://#{site.title}", title=site.title)= site.title
                              | , 2016&nbsp;
                          .footer-rights Использование материалов разрешено только при наличии активной ссылки на источник                                   
                        +b.social-links: +i

        +b("a").go-top(href="", title="Наверх"): +i
    block modals
    script(src="/doc.min.js")
    script(src="/jquery.mockjax.js")
    script(src="/demo.js")