mixin modal(name, classes, dialogClasses)
    if modals.indexOf(name) != -1
        .modal.fade(id=name, class=classes, aria-hidden="true", role="dialog", tabindex="-1")
            .modal-dialog(class=dialogClasses)
                .modal-content
                    block

+modal("feedback")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Обратная связь
    .modal-body
        form.form-horizontal(action="/")
            fieldset  
                p.text-left.modals-text 
                    | Если у вас есть какие-либо вопросы, задайте их нам, заполнив нижеприведенную форму, и в ближайшее время мы с вами свяжемся.
                .form-group.form-group__modals
                    .col-sm-12
                        input.form-control.form-control__modals(type="text", placeholder="Имя, фамилия*")
                .form-group.form-group__modals
                    .col-sm-6
                        input.form-control.form-control__modals(type="text", placeholder="Email")
                    .col-sm-6 
                        input.form-control.phone-input-mask.form-control__modals(type="text", placeholder="Телефон")
                .form-group.form-group__modals
                    .col-sm-12
                        textarea.form-control.form-control__modals(placeholder="Напишите комментарий к вашей заявке", rows="4")
                .form-group.margin-bottom-0.form-group__modals
                    .col-sm-12.submits
                        button.btn.btn-primary.btn-xs-block.modals-btn(type="button") Отправить заявку
+modal("callback", "callback-modal bs-modal-sm")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Обратный звонок
    .modal-body
        p.ocean-blue.offset-0.modals-text Оставьте свое имя и номер телефона, и мы свяжемся с вами.
        form.form-horizontal(action="/")
            fieldset
                .form-group.form-group__modals
                    .col-sm-12: input.form-control.form-control__modals(type="text", placeholder="Имя, фамилия*")
                .form-group.form-group__modals
                    .col-sm-12: input.form-control.form-control__modals(type="text", placeholder="Телефон")
                .form-group.margin-bottom-0.form-group__modals
                    .col-sm-12.submits
                        button.btn.btn-primary.btn-xs-block.modals-btn(type="button") Отправить заявку

+modal("doctor-request", "request")
    - clinic = clinics[0]
    .modal-header 
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        h4.modal-title Запись на прием к врачу
        p.ocean-blue.offset-0 Заполните форму ниже или позвоните по телефону <span class="nobr">+380 (44) 337-07-07</span>
    .modal-body
        .request__card
            .request__card-image
                img(src=clinic.photo.main, alt="")
            .request__card-content
                .request__card-title= clinic.name
                .request__card-location= clinic.location.join(", ")
        form(action="/")
            fieldset
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Имя, фамилия <sup>*</sup>
                        input.form-control(type="text")
                    .col-sm-6
                        .offset-top-25
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="adult", checked="checked")
                                    span
                                        span Взрослый
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="child")
                                    span
                                        span Ребенок
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Телефон <sup>*</sup>
                        input.form-control.phone-input-mask(type="text")
                    .col-sm-6
                        label.control-label E-mail
                        input.form-control(type="text")
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Желаемая дата
                        .input-group
                            input.form-control.datepicker#clinic-request-date-input(type="text", value="2013-12-18")
                            span.input-group-addon.datepicker-icon.icons
                    .col-sm-6
                        label.control-label Время приема
                        .input-group
                            select.select2(data-dropdown-class="show-search" data-dropdown-mask="99:99" data-search-placeholder="__:__")
                                option(selected) Любое время
                                option 08:00
                                option 08:30
                                option 09:00
                                option 09:30
                                option 10:00
                                option 10:30
                                option 11:00
                                option 11:30
                                option 12:00
                                option 12:30
                                option 13:00
                                option 13:30
                                option 14:00
                                option 14:30
                                option 15:00
                                option 15:30
                                option 16:00
                                option 16:30
                                option 17:00
                                option 17:30
                                option 18:00
                                option 18:30
                .x-check-group2
                    .row.offset-top-10
                        .col-sm-6.col-xs-12
                            label.control-label Улица и номер дома <sup>*</sup>
                            input.form-control(type="text")
                .row.offset-bottom10
                    .col-sm-12
                        label.control-label Комментарий
                        textarea.form-control(placeholder="Напишите комментарий к вашей заявке", rows="2")
                .row.offset-bottom-0
                    .col-sm-12
                        p.small.grey
                            | Отправляя заявку, вы принимаете 
                            a(href='/rules.html', target='_blank') правила работы сервиса
                            | .
                .row.offset-bottom-0
                    .col-sm-12.text-center
                        button.btn.btn-primary.btn-xs-block(type="button") Записаться

+modal("clinic-request", "request request_clinic modal-narrow")
    -clinic = clinics[0]
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        h4.modal-title Запись на прием
        p.ocean-blue.offset-0 Заполните форму ниже или позвоните по телефону <span class="nobr">+380 (44) 337-07-07</span>
    .modal-body
        .request__card.margin-bottom-0
            .request__card-image
                img(src=clinic.photo.main, alt="")
            .request__card-content
                .request__card-title= clinic.name
                .request__card-location= clinic.location.join(", ")
        form(action="/")
            fieldset
                .row.offset-bottom10
                    .col-sm-12
                        label.checkbox__label
                            span(data-profile="special_offer_dc")
                                | Акция:&nbsp;
                                a(target="blank" href="/bundle/kiev/paket-kompleks-uzi-2-ot-centra-zdorovogo-materinstva") Комплекс УЗИ для женщин со скидкой 30%!
                .row
                    .col-sm-6
                        label.control-label Имя, фамилия <sup>*</sup>
                        input.form-control(type="text")
                    .col-sm-6
                        .offset-top-25
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="adult", checked="checked")
                                    span
                                        span Взрослый
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="child")
                                    span
                                        span Ребенок
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Телефон <sup>*</sup>
                        input.form-control.phone-input-mask(type="text")
                    .col-sm-6
                        label.control-label E-mail
                        input.form-control(type="text")
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Желаемая дата
                        .input-group
                            input.form-control.datepicker#clinic-request-date-input(type="text", value="2013-12-18")
                            span.input-group-addon.datepicker-icon.icons
                    .col-sm-6
                        label.control-label Желаемое время
                        .input-group
                            select.select2(data-dropdown-class="show-search" data-dropdown-mask="99:99" data-search-placeholder="__:__")
                                option(selected) Любое время
                                option 08:00
                                option 08:30
                                option 09:00
                                option 09:30
                                option 10:00
                                option 10:30
                                option 11:00
                                option 11:30
                                option 12:00
                                option 12:30
                                option 13:00
                                option 13:30
                                option 14:00
                                option 14:30
                                option 15:00
                                option 15:30
                                option 16:00
                                option 16:30
                                option 17:00
                                option 17:30
                                option 18:00
                                option 18:30
                .x-check-group2
                    .row.offset-top-10
                        .col-sm-6.col-xs-12
                            label.control-label Улица и номер дома <sup>*</sup>
                            input.form-control(type="text")
                
                .row.offset-bottom10
                            .col-sm-12
                                .checkbox
                                    label.checkbox__label
                                        input(type="checkbox")
                                        span Вызов врача на дом

                .row.offset-bottom10
                    .col-sm-12
                        label.control-label Комментарий
                        textarea.form-control(placeholder="Напишите комментарий к вашей заявке", rows="2")
                .row.offset-bottom-0
                    .col-sm-12
                        p.small.grey
                            | Отправляя заявку, вы принимаете 
                            a(href='/rules.html', target='_blank') правила работы сервиса
                            | .
                .row.offset-bottom-0
                    .col-sm-12.text-center
                        button.btn.btn-primary.btn-xs-block(type="button") Записаться

+modal("diagnostic-request", "request request_diagnostic")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        h4.modal-title Запись на диагностику
        p.ocean-blue.offset-0 Заполните форму ниже или позвоните по телефону <span class="nobr">+380 (44) 337-07-07</span>
    .modal-body
        .request__card.margin-bottom-0
            .request__card-image
                img(src=clinic.photo.main, alt="")
            .request__card-content
                .request__card-title= clinic.name
                .request__card-location= clinic.location.join(", ")
        form(action="/")
            fieldset
                .row.offset-bottom10
                    .col-sm-12
                        label.checkbox__label
                            span(data-profile="special_offer_dc")
                                | Пакетное предложение:&nbsp;
                                a(target="blank" href="/bundle/kiev/paket-kompleks-uzi-2-ot-centra-zdorovogo-materinstva") Пакет «Гинекологический минимум» от Добрый прогноз
                .row.offset-bottom10
                    .col-sm-12
                        ul.services-list
                            li УЗИ органов брюшной полости (печень, желчный пузырь, желчные протоки, поджелудочная железа, селезенка)
                            li УЗИ почек (и мочевого пузыря)
                .row
                    .col-sm-12
                        label.control-label Вид диагностики
                        select.select-prices(placeholder="Выберите услугу" multiple="multiple")
                            optgroup(label="УЗИ", data-description="Ультразвуковое исследование", data-price="от 203 грн")
                                option(value="УЗИ при беременности", data-description="какое-то пояснение, дополнение или еще некакаято информация о диагностике", data-price="7425000 грн" data-label="при беременности") УЗИ при беременности
                                option(value="УЗИ брюшной полости", data-action-title="-30% на все другие органы!", data-action-link="http://doc.ua" data-price="203 грн", data-label="брюшной полости") УЗИ брюшной полости 
                                option(value="УЗИ малого таза", data-price="35060 грн" data-label="малого таза") УЗИ малого таза
                            optgroup(label="КТ", data-description="Компьютерная томография", data-price="от 5060 грн")
                                option(value="КТ почек", data-price="5060 грн" data-label="почек") КТ почек
                                option(value="КТ сердца", data-description="и сопутствующих органов", data-price="425060 грн" data-label="сердца") КТ сердца
                            optgroup(label="Дуплексное сканирование", data-price="от 5060 грн")
                                option(value="артерий нижних конечностей", data-price="1065 грн" data-label="артерий верхних конечностей") артерий нижних конечностей
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Имя, фамилия <sup>*</sup>
                        input.form-control(type="text")
                    .col-sm-6
                        .offset-top-25
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="adult", checked="checked")
                                    span
                                        span Взрослый
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="child")
                                    span
                                        span Ребенок
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Телефон <sup>*</sup>
                        input.form-control.phone-input-mask(type="text")
                    .col-sm-6
                        label.control-label E-mail
                        input.form-control(type="text")
                .row
                    .col-sm-6.col-xs-12
                        label.control-label Желаемая дата
                        .input-group
                            input.form-control.datepicker#clinic-request-date-input(type="text", value="2013-12-18")
                            span.input-group-addon.datepicker-icon.icons
                    .col-sm-6
                        label.control-label Желаемое время
                        .input-group
                            select.select2(data-dropdown-class="show-search" data-dropdown-mask="99:99" data-search-placeholder="__:__")
                                option(selected) Любое время
                                option 08:00
                                option 08:30
                                option 09:00
                                option 09:30
                                option 10:00
                                option 10:30
                                option 11:00
                                option 11:30
                                option 12:00
                                option 12:30
                                option 13:00
                                option 13:30
                                option 14:00
                                option 14:30
                                option 15:00
                                option 15:30
                                option 16:00
                                option 16:30
                                option 17:00
                                option 17:30
                                option 18:00
                                option 18:30
                .x-check-group2
                    .row.offset-top-10
                        .col-sm-6.col-xs-12
                            label.control-label Улица и номер дома <sup>*</sup>
                            input.form-control(type="text")
                .row.offset-bottom10
                    .col-sm-12
                        label.control-label Комментарий
                        textarea.form-control(placeholder="Напишите комментарий к вашей заявке", rows="2")
                .row.offset-bottom-0
                    .col-sm-12
                        p.small.grey
                            | Отправляя заявку, вы принимаете 
                            a(href='/rules.html', target='_blank') правила работы сервиса
                            | .
                .row.offset-bottom-0
                    .col-sm-12.text-center
                        button.btn.btn-primary.btn-xs-block(type="button") Записаться

+modal("doc-request-schedule", "schedule")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        h4.modal-title Онлайн-заявка
    .modal-body
        form.form-horizontal(action="/")
            fieldset
                p.grey.text-center 
                    | Укажите свои данные, и мы подберем
                    br
                    | вам наиболее подходящего врача.
                .form-group
                    .col-sm-6.col-xs-12
                        label.control-label Имя, фамилия <sup>*</sup>
                        input.form-control(type="text")
                    .col-sm-6
                        .offset-top-25
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="adult", checked="checked")
                                    span
                                        span Взрослый
                            .radio-inline
                                label.pill
                                    input(type="radio", name="age", value="child")
                                    span
                                        span Ребенок
                .form-group
                    .col-sm-6.col-xs-12
                        label.control-label Телефон <sup>*</sup>
                        input.form-control.phone-input-mask(type="text")
                    .col-sm-6
                        label.control-label E-mail 
                        input.form-control(type="text")
                .form-group
                    .col-sm-6.col-xs-12
                        label.control-label Необходимый доктор
                        select.select2
                            option
                            option Доктор 1
                            option Доктор 2
                            option Доктор 3
                    .col-sm-6
                        label.control-label Выберите район
                        select.select2(multiple)
                            option Дарницкий
                            option Шевченковский
                            option Деснянский
                .form-group.margin-bottom-0
                    .col-sm-6.col-xs-12
                        .input-group
                            label.control-label Желаемая дата приема
                            .input-group
                                input.form-control.datepicker#doctor-request-date-input(type="text", value="2013-12-18")
                                span.input-group-addon.datepicker-icon.icons
                    .col-sm-6.has-error
                        .input-group
                            label.control-label Время приема
                            select.select2
                                option(selected) Любое время
                                option 8:00
                                option 8:30
                                option 9:00
                                option 9:30
                                option 10:00
                                option 10:30
                                option 11:00
                                option 11:30
                                option 12:00
                                option 12:30
                                option 13:00
                                option 13:30
                                option 14:00
                                option 14:30
                                option 15:00
                                option 15:30
                                option 16:00
                                option 16:30
                                option 17:00
                                option 17:30
                                option 18:00
                                option 18:30
                            .error-message Необходимо заполнить поле «телефон»
                .form-group
                    .col-sm-12
                        p 
                        | Отправляя заявку, вы принимаете&nbsp;
                        a(href="/rules.html" target="_blank") правила работы сервиса
                .form-group.margin-bottom-0
                    .col-sm-12.submits
                        button.btn.btn-primary.btn-xs-block(type="button") Отправить заявку
+modal("clinic-location-map", "bs-modal-md")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        h4.modal-title  Клиника на карте
    .modal-body.modal-body-map
        #modal-map
    .modal-footer
+modal("request-thanks")
    .modal-header.modal-header__mod.modal-attention.modal-header__thanks
        button.close.close__mod(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title.modal-title__mod Спасибо!
    .modal-body.modal-body__pad
        .info-modal__visual.info-modal__thanks 
            img.doctor-thanks(src="/i/doctor-like-min.png", alt="")
            p.middle

            br.hidden-xs
            br.hidden-xs
            br
            .info-modal__visual-text.info-modal__text-mod| Мы получили вашу заявку и в ближайшее время свяжемся с вами для уточнения деталей.
            br
            br
    .form-group.margin-bottom-0.form-group__modals
        .col-sm-12.submits
            button.btn.btn-primary.btn-xs-block.modals-btn-big(type="button") Вернуться на сайт
            //- a(href="/", aria-hidden="true", data-dismiss="modal", type="button", title="Вернуться на сайт") Вернуться на сайт
    .modal-footer
 
+modal("info-var-2", "info-modal")
    .modal-header.modal-header__mod.modal-attention
        button.close.close__mod.close-attention(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title.modal-title__mod Обратите внимание!
    .modal-body
        .info-modal__visual.info-modal__visual-mod 
            img.info-modal__visual-icon(src="/i/attention-modals-icon.png", alt="")
            .info-modal__visual-text Наш сервис является <strong>бесплатным </strong><br>для Пациентов и не содержит никаких скрытых комиссий.
        .info-modal__text Оплата приема врачей производится непосредственно в клинике согласно официальному прайс-листу. В случае если вы заметили расхождение в ценах – сообщите нам об этом!
        .info-modal__message Мы за честные цены!

+modal("login", "login-form-popup bs-modal-sm")
    .modal-header.modal-header__btm
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Вход на сайт
    .modal-body
        form.form-horizontal(action="/")
            fieldset
                .form-group.form-group__modals-login
                    //- .col-sm-3
                        //- label.control-label(for="field-login-email"): span Е-mail:
                    .col-sm-12.offset-0
                        input#field-login-email.form-control.form-control__modals(type="text",placeholder="Е-mail")
                        .error-message E-mail указан неверно. Правильный формат адреса электронной почты:&nbsp;
                            span.underline name@mail.com
                .form-group.form-group__modals-login
                    //- .col-sm-3
                    //-     label.control-label(for="field-login-password"): span Пароль:
                    .col-sm-12.offset-0
                        .input-password 
                            input#field-login-password.form-control.form-control__modals(type="password", placeholder="Пароль")
                            span.password-eye
                    .col-sm-12.offset-0
                        a.remind-password-link.modals-a-color.remind-password-link__mod(href="/", title="Напомнить пароль"): span Напомнить пароль
                .form-group.offset-top-10.form-group__last-child
                    .col-sm-12
                        button.btn.btn-success.btn-lg.btn-xs-block(type="submit") Войти
                        //- span.abs-helper
                        span.modal-span__mod или
                        a.modals-a-color.btn-registration(href="/registration.html", title="Регистрация") Регистрация

+modal("select-area", "bs-modal-md")
    .modal-header
        button.close.close__select(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title
            | Место приема врача
        ul.nav.nav-pills.inline-block
            li Выберите нажатием
            li.active
                a(href="#select-area-districts", data-toggle="tab")
                    span районы
            li &nbsp;или&nbsp;
            li
                a(href="#select-area-metro", data-toggle="tab")
                    span станции метро
    .modal-body 
        .tab-content.clear
            - var selectAreaClasses = ''
            - var metroMapClasses = ''
            - var districtsList = districts
            - var metroList = metro
            if location == 'kharkiv'
                - districtsList = districtsKharkiv
                - metroList = metroKharkiv
                - selectAreaClasses = 'select-area_location_kharkiv'
                - metroMapClasses = 'metro-map_kharkiv' 
            #select-area-districts.tab-pane.active.js-list-scroll(class=selectAreaClasses)
                ul.districts-check-list.district-list__mod.columnize(data-columns="5", data-min-column-width="0", data-adaptive-column-count="true")
                    each district in districtsList
                        li.pill-group
                            label.pill.with-icon
                                input(type="checkbox")
                                span: span= district.title
                            if district.children
                                ul
                                    each subDistrict in district.children
                                        li
                                            label.pill.with-icon
                                                input(type="checkbox")
                                                span: span= subDistrict
            #select-area-metro.tab-pane(class=selectAreaClasses)
                .metro-map-min.metro-map(class=metroMapClasses)
                    each station in metroList
                        label.pill.with-icon(class=station.class, style="left: #{station.x}px; top: #{station.y}px;")
                            input(type="checkbox")
                            span: span= station.title
    .modal-footer.footer-default.footer-def__mod
        button.btn.btn-primary.modal-btn-190.btn-lg.js-btn-clone(data-dismiss="modal", type="button") Выбрать
        span.abs-helper
            span.abs 
                a.dotted.js-btn-clear(data-action="reset") Сбросить выбранное
+modal("select-countries")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите страну или город
    .modal-body
        .tab-content.clear
            - var selectAreaClasses = ''
            - var metroMapClasses = ''
            - var districtsList = districts
            - var metroList = metro  
            #select-area-districts.tab-pane.active(class=selectAreaClasses)
                ul.districts-check-list.columnize(data-columns="4", data-min-column-width="0", data-adaptive-column-count="true")
                    each district in districtsList
                        li.pill-group
                            label.pill.with-icon
                                input(type="checkbox")
                                span: span= district.title
                            if district.children
                                ul
                                    each subDistrict in district.children
                                        li
                                            label.pill.with-icon
                                                input(type="checkbox")
                                                span: span= subDistrict
            #select-area-metro.tab-pane(class=selectAreaClasses)
                .metro-map(class=metroMapClasses)
                    each station in metroList
                        label.pill.pill-map.with-icon(class=station.class, style="left: #{station.x}px; top: #{station.y}px;")
                            input(type="checkbox")
                            span: span= station.title
    .modal-footer.footer-default
        button.btn.btn-warning.btn-lg(data-dismiss="modal", type="button") Выбрать
        span.abs-helper
            span.abs
                a.dotted(data-action="reset") Сбросить выбранное
+modal("select-area-diagnostics", "bs-modal-md")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите вид диагностики
    .modal-body.js-list-scroll
        ul.districts-check-list.tab-pane__mod.columnize(data-columns="4", data-min-column-width="0", data-adaptive-column-count="true")
            each diagnostic in diagnostics
                li.diagnostic-in 
                    a(href="/diagnostic-centers.html", title="")= diagnostic.title
                    if diagnostic.children
                        ul
                            each subDiagnostic in diagnostic.children
                                li.diagnostic-item.alphabet-list__sub-item
                                    a(href="/diagnostic-centers.html", title="")= subDiagnostic.title
    .modal-footer
+modal("select-branch", "bs-modal-md ")
    .modal-header
        button.close.close-special(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите специальность врача
    .modal-body.body-branch
        ul.alphabet-list.columnize(data-columns="4", data-min-column-width="0", data-adaptive-column-count="true")
            //- li.alphabet-list__item.alphabet-list__item_all
            //-     a(href="", title="Показать всех врачей")
            //-         | Показать всех врачей
            each specialization in specializationsAlphabet
                li.alphabet-list__item
                    span.alphabet-list__letter= specialization.title
                    ul.alphabet-list__sub
                        each specializationChildren in specialization.children
                            li.alphabet-list__sub-item
                                a(href=specializationChildren.url, data-value=specializationChildren.slug, title=specializationChildren.title)= specializationChildren.title
    .modal-footer.footer-branch
        button.btn.btn-primary.modals-btn-220(type="button") Показать всех врачей
+modal("select-specialization", "bs-modal-md") 
    .modal-header
        button.close.close-special(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите специальность врача
    .modal-body.body-branch.js-list-scroll
        ul.alphabet-list.columnize(data-columns="4", data-min-column-width="0", data-adaptive-column-count="true")
            //- li.alphabet-list__item.alphabet-list__item_all
            //-     a(href="", title="Показать всех врачей")
            //-         | Показать всех врачей
            each specialization in specializationsAlphabet
                li.alphabet-list__item
                    span.alphabet-list__letter= specialization.title
                    ul.alphabet-list__sub
                        each specializationChildren in specialization.children
                            li.alphabet-list__sub-item
                                a(href=specializationChildren.url, data-value=specializationChildren.slug, title=specializationChildren.title)= specializationChildren.title
    .modal-footer.footer-branch
        button.btn.btn-primary.modals-btn-220(type="button") Показать всех врачей
+modal("select-actions", "bs-modal-md")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите тему акции
    .modal-body 
        ul.alphabet-list.columnize(data-columns="4", data-balance-method="balanceCount")
            
            each specialization in specializationsAlphabet
                li.alphabet-list__item
                    span.alphabet-list__letter= specialization.title
                    ul.alphabet-list__sub
                        each specializationChildren in specialization.children
                            li.alphabet-list__sub-item
                                a(href=specializationChildren.url, title=specializationChildren.title)= specializationChildren.title
                            li.alphabet-list__sub-item dsfdsfsdf
                            li.alphabet-list__sub-item dsfdsfsdf
                            li.alphabet-list__sub-item dsfdsfsdf
                            li.alphabet-list__sub-item dsfdsfsdf
                            li.alphabet-list__sub-item dsfdsfsdf
    .modal-footer.footer-branch
        button.btn.btn-primary.modals-btn-220(type="button") Показать все акции
+modal("select-services", "bs-modal-md")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите тип пакета услуг
    .modal-body
        ul.alphabet-list.columnize(data-columns="4", data-balance-method="balanceCount")
            each specialization in specializationsAlphabet
                li.alphabet-list__item
                    span.alphabet-list__letter= specialization.title
                    ul.alphabet-list__sub
                        each specializationChildren in specialization.children
                            li.alphabet-list__sub-item
                                a(href=specializationChildren.url, title=specializationChildren.title)= specializationChildren.title
    .modal-footer

+modal("notification", "notification modal_bg_transparent")
    .modal-header
        .modal-title Notification header
    .modal-body
        p Просто заполните форму, и мы ответим на ваши вопросы.
    button.close(aria-hidden="true", data-dismiss="modal", type="button")

//- gallery markup glued into jquery-owlbox.coffee
//- #gallery.gallery-popup.modal.fade(aria-hidden="true", role="dialog", tabindex="-1")
//-     .modal-dialog
//-         .modal-content
//-             .modal-header
//-                 button.close(aria-hidden="true", data-dismiss="modal", type="button")
//-                 .counter.small Фотография&nbsp; 
//-                     span 1
//-                     |  из&nbsp;
//-                     span 42
//-             .modal-body
//-                 .owl_synced
//-                     ul.gallery.owl.owl_single.carousel
//-                         if galleryListSingle
//-                             each item in galleryListSingle
//-                                 != block("gallery-item", { item: item, tag: "li", class: "item" })
//-                     ul.gallery.owl.owl_thumbs.carousel
//-                         if galleryListThumbs
//-                             each item in galleryListThumbs
//-                                 != block("gallery-item", { item: item, tag: "li", class: "item" })


+modal("rating", "rating-modal")
    .modal-header.modal-header__rating
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Федоренко Александр Евгеньевич
    .modal-body.modal-body__rating 
        +b.rating-block.rating-block__modals
            .row
                .col-sm-6
                    .row
                        .col-xs-4
                            +b.statistics-item._simple
                                +e.label Рекомендуют
                                +e.value 100
                                    +e("span").value-label %
                        .col-xs-4
                            +b.statistics-item._simple
                                +e.label Средний балл
                                +e.value 4.9
                        .col-xs-4
                            +b.statistics-item._simple
                                +e.label К-во отзывов
                                +e.value 233
                    +b.rating-info
                        +e("span").icon
                        +e.text Рейтинг врача рассчитывается
                            | на основе&nbsp;
                            +e("a").more-link(href="/", title="реальных отзывов пациентов"): span реальных отзывов пациентов
                .col-sm-6
                    ul.rating-list
                        li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            .rating__value.value 4.9
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            .rating__value.value 4.7
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            .rating__value.value 5.0
                    .likebox
                        .likebox__label.likebox__label-mod(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom')
                            | Рекомендуют врача
                        .likebox__like
                            .likebox__votes 18
                        .likebox__dislike
                            .likebox__votes 0

    .modal-footer
        h4.modal-footer__title Как мы собираем отзывы?
        p Все отзывы достоверны и получены в результате опроса пациентов, побывавших на приеме в клинике
        +b("ul").rating-steps
            +e(li).item
                +e("img").icon(srcset="/i/icon-calendar.png, /i/icon-calendar@2x.png 2x", alt="")
                +e.title.rating-steps__title-mod Мы записываем <br>вас к врачу
            +e(li).item
                +e("img").icon(srcset="/i/icon-clock.png, /i/icon-clock@2x.png 2x", alt="")
                +e.title.rating-steps__title-mod Вы приходите <br>на прием
            +e(li).item 
                +e("img").icon(srcset="/i/icon-phone.png, /i/icon-phone@2x.png 2x", alt="")
                +e.title.rating-steps__title-mod Мы звоним и спрашиваем<br> ваше мнение о приеме
            +e(li).item
                +e("img").icon(srcset="/i/icon-like.png, /i/icon-like@2x.png 2x", alt="")
                +e.title.rating-steps__title-mod Публикуем ваше <br> мнение в анкете врача

+modal("rating-clinic", "rating-modal")
    .modal-header.modal-header__rating
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Клиника Исида
    .modal-body.modal-body__rating 
        +b.rating-block.rating-block__modals
            .row
                .col-sm-6
                    .row
                        .col-xs-6
                            +b.statistics-item._simple.statistics-item__mod
                                +e.label Средний балл  
                                +e.value.value__mod 4.9
                        .col-xs-6
                            +b.statistics-item._simple
                                +e.label Кол-во отзывов
                                +e.value 233
                    +b.rating-info
                        +e("span").icon
                        +e.text Рейтинг клиники рассчитывается
                            | на основе&nbsp;
                            +e("a").more-link(href="/", title="реальных отзывов пациентов"): span реальных отзывов пациентов
                .col-sm-6
                    ul.rating-list
                        li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom') Время ожидания
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 99%;')
                            .rating__value.value 4.9
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom') Работа рецепции
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 97%;')
                            .rating__value.value 4.7
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom') Комфорт пребывания
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            .rating__value.value 5.0
                    .likebox
                        .likebox__label.likebox__label-mod(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom')
                            | Рекомендуют клиника
                        .likebox__like
                            .likebox__votes 18
                        .likebox__dislike
                            .likebox__votes 0

    .modal-footer
        h4.modal-footer__title Как мы собираем отзывы?
        p Все отзывы достоверны и получены в результате опроса пациентов, побывавших на приеме в клинике
        +b("ul").rating-steps
            +e(li).item
                +e("img").icon(srcset="/i/icon-calendar.png, /i/icon-calendar@2x.png 2x", alt="")
                +e.title Мы записываем <br>вас к врачу
            +e(li).item
                +e("img").icon(srcset="/i/icon-clock.png, /i/icon-clock@2x.png 2x", alt="")
                +e.title Вы приходите <br>на прием
            +e(li).item
                +e("img").icon(srcset="/i/icon-phone.png, /i/icon-phone@2x.png 2x", alt="")
                +e.title Мы звоним <br>и спрашиваем ваше мнение о приеме
            +e(li).item
                +e("img").icon(srcset="/i/icon-like.png, /i/icon-like@2x.png 2x", alt="")
                +e.title Публикуем ваше мнение в анкете врача

+modal("info", "info-modal")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Уважаемый посетитель!
    .modal-body
        .info-modal__visual
            img.info-modal__visual-icon(src="/i/free-percent-icon.png", alt="")
            .info-modal__visual-text Наш сервис является <strong>бесплатным</strong><br>для Пациентов и не содержит никаких скрытых комиссий.
        .info-modal__text Мы прилагаем все усилия, чтобы предоставлять вам актуальную информацию о стоимости приема врачей в клиниках. Однако в текущей экономической ситуации происходит частое обновление цен самими клиниками. Точную стоимость консультации оператор нашего колл-центра уточняет у клиники в момент вашей записи.



+modal("info-var-3", "info-modal")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Уважаемый посетитель!
    .modal-body.offset-top-10
        .info-modal__text Мы прилагаем все усилия, чтобы предоставлять вам актуальную информацию о стоимости приема врачей в клиниках. Однако в текущей экономической ситуации происходит частое обновление цен самими клиниками. Точную стоимость консультации оператор нашего колл-центра уточняет у клиники в момент вашей записи.
        .info-modal__message Сервис Doc.ua работает без комиссий и скрытых наценок.
+modal("info-var-4", "info-modal")
    .modal-header
        button.close(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Обратите внимание!
    .modal-body.offset-top-10
        p.ocean-blue.text-center Наш сервис является бесплатным для Пациентов и не <br>содержит никаких скрытых комиссий.
        .info-modal__text Оплата приема врачей производится непосредственно в клинике согласно официальному прайс-листу. В случае если вы заметили расхождение в ценах – сообщите нам об этом!
        .info-modal__message Мы за честные цены!

+modal("select-other-spec", "bs-modal-md ")
    .modal-header
        button.close.close-special(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title Выберите специальность врача
    .modal-body.body-branch
        ul.alphabet-list.columnize(data-columns="4", data-min-column-width="0", data-adaptive-column-count="true")
            //- li.alphabet-list__item.alphabet-list__item_all
            //-     a(href="", title="Показать всех врачей")
            //-         | Показать всех врачей
            each specialization in specializationsAlphabet
                li.alphabet-list__item
                    span.alphabet-list__letter= specialization.title
                    ul.alphabet-list__sub
                        each specializationChildren in specialization.children
                            li.alphabet-list__sub-item
                                a(href=specializationChildren.url, data-value=specializationChildren.slug, title=specializationChildren.title)= specializationChildren.title
    .modal-footer.footer-branch
        button.btn.btn-primary.modals-btn-220(type="button") Показать всех врачей

+modal("select-other-area", "bs-modal-md")
    .modal-header
        button.close.close__select(aria-hidden="true", data-dismiss="modal", type="button")
        .modal-title
            | Место приема врача
        ul.nav.nav-pills.inline-block
            li Выберите нажатием
            li.active
                a(href="#select-area-districts2", data-toggle="tab")
                    span районы
            li &nbsp;или&nbsp;
            li
                a(href="#select-area-metro2", data-toggle="tab")
                    span станции метро
    .modal-body 
        .tab-content.clear
            - var selectAreaClasses = ''
            - var metroMapClasses = ''
            - var districtsList = districts
            - var metroList = metro
            if location == 'kharkiv'
                - districtsList = districtsKharkiv
                - metroList = metroKharkiv
                - selectAreaClasses = 'select-area_location_kharkiv'
                - metroMapClasses = 'metro-map_kharkiv' 
            #select-area-districts2.tab-pane.active(class=selectAreaClasses)
                ul.districts-check-list.district-list__mod.columnize(data-columns="5", data-min-column-width="0", data-adaptive-column-count="true")
                    each district in districtsList
                        li.pill-group
                            label.pill.with-icon
                                input(type="checkbox")
                                span: span= district.title
                            if district.children
                                ul
                                    each subDistrict in district.children
                                        li
                                            label.pill.with-icon
                                                input(type="checkbox")
                                                span: span= subDistrict
            #select-area-metro2.tab-pane.tab-pane__mod.tab-pane(class=selectAreaClasses)
                .metro-map-min2.metro-map(class=metroMapClasses)
                    each station in metroList
                        label.pill.with-icon(class=station.class, style="left: #{station.x}px; top: #{station.y}px;")
                            input(type="checkbox")
                            span: span= station.title
    .modal-footer.footer-default.footer-def__mod
        button.btn.btn-primary.modal-btn-190.btn-lg(data-dismiss="modal", type="button") Выбрать
        span.abs-helper
            span.abs
                a.dotted(data-action="reset") Сбросить выбранное


